# Jupyter
.ipynb_checkpoints
*.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data (nếu file quá lớn)
# data/*.csv

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db